<footer class="page-footer docs-footer white">
  <div class="container">
    <div class="row center valign-wrapper">
      <div class="col s12" style="color: black; text-transform: none">
        Follow us on:
        <a
          href="https://www.linkedin.com/company/computational-humanities-research"
          ><img src="/images/linkedin.svg" alt="linkedin"
        /></a>
        <a href="https://twitter.com/CompHumResearch"
          ><img src="/images/twitter-x.svg" alt="twitter-x"
        /></a>
        <a href="https://bsky.app/profile/comphumresearch.bsky.social"
          ><img src="/images/bluesky.svg" alt="bluesky"
        /></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row center valign-wrapper">
      <div class="col offset-s4 s4">
        <a
          href="https://www.uni.lu/c2dh-en/"
          aria-label="Visit the website of The University of Luxembourg"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="organization-logo"
            width="80%"
            src="/images/uni-logo.svg"
            alt="The University of Luxembourg"
          />
        </a>
      </div>
      <!-- <div class="col s4">
        <a
          href="https://dighumlab.org/"
          aria-label="Visit DigHumLab's homepage"
        >
          <img
            class="organization-logo"
            width="30%"
            src="/images/DigHumLab.png"
            alt="DIGHUMLAB"
          />
        </a>
      </div>
      <div class="col s4">
        <a
          href="https://international.au.dk/"
          aria-label="Visit Aarhus University's homepage"
        >
          <img
            class="organization-logo"
            width="50%"
            src="/images/Aarhus_University_logo.svg.png"
            alt="Aarhus University"
          />
        </a>
      </div> -->
    </div>
  </div>

  <div class="footer-copyright white">
    <div class="container">
      <a
        href="/code-of-conduct/"
        style="margin: auto; text-align: center; display: block"
        >Code of conduct</a
      >
      <p class="center-align">© 2025, Computational Humanities Research</p>
    </div>
  </div>
</footer>
